<form class="form-inline">
  <div class="form-group mb-2">
    <input type="text" readonly class="form-control-plaintext" id="staticColor" value="CorExemplo">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputColor" class="sr-only">Cor</label>
    <input type="text" class="form-control" id="inputColor" placeholder="Cor">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirmar Cor</button>
</form>